.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.new-cat-button{
    margin-bottom: 20px;
    background-color: lightcoral;
    border-radius: 20px;
    border: none;
    padding: 10px;
    color: whitesmoke;
    cursor: pointer;
    &:hover{
        background-color: coral;
        
    }
}

.catImage{
    width: 250px;
    height: 250px;
    object-fit: cover;
}